.tiptap-container {
  padding: 2rem;
}

.tiptap-keyboard-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e5e7ebd6;
  padding: 8px;
  border-radius: 8px;
}

.tiptap-menu-btn {
  background-color: #e5e7ebd6;
  fill: #374151;
  margin: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

.tiptap-menu-btn:hover, .tiptap-keyboard-menu-btn:hover {
  background-color: #d1d5db;
}

.tiptap-menu-btn.active {
  background-color: #d1d5db;
}

.tiptap-keyboard-menu-btn {
  fill:#374151;
  margin: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: .5rem;
}

.tiptap-keyboard-menu-btn.active {
  background-color: #d1d5db;
}

.tiptap-keyboard-menu-btn.smaller-tiptap-menu-btn {
  width: 2.1rem;
  height: 2.1rem;
  padding: .2rem;
}

.tiptap-keyboard-menu-btn.small-tiptap-btn {
  padding: 8px;
}

.tiptap-keyboard-menu-btn.too-small-tiptap-btn {
  padding: 6px;
}

.tiptap-submit {
  text-align: center;
  margin: 0 2rem;
}

.tiptap-submit.tiptap-submit-style {
  outline: none;
  border: none;
  padding: .6rem 1.4rem;
  background-color: #374151;
  color: white;
  border-radius: .3rem;
  font-family:  Vazirmatn, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.tiptap-submit.tiptap-submit-style:hover {
  background-color: black;
}

.ProseMirror {
  direction: rtl;
  margin: 2rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.ProseMirror * {
  padding: 0 1rem;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror ul {
  list-style-type: disc;
  margin-right: 2rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  margin-right: 2rem;
}

.ProseMirror ul li, .ProseMirror ol li {
  padding: .1rem 0;
}

.ProseMirror blockquote {
  padding-right: 1rem !important;
  border-right: 4px solid #d1d5db;
}

.ProseMirror code {
  background-color: #e5e7eba6;
  padding: .3rem;
  border-radius: 2px;
}

.ProseMirror pre code {
  background-color: #374151;
  color: white;
  padding: .3rem;
  border-radius: 2px;
}

.ProseMirror h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.ProseMirror h2 {
  font-size: 2.2rem;
  font-weight: 600;
}
.ProseMirror h3 {
  font-size: 2rem;
  font-weight: 600;
}
.ProseMirror h4 {
  font-size: 1.7rem;
  font-weight: 600;
}
.ProseMirror h5 {
  font-size: 1.3rem;
  font-weight: 600;
}
.ProseMirror h6 {
  font-size: 1.1rem;
  font-weight: 600;
}

.ProseMirror em, .ProseMirror strong, .ProseMirror s {
  padding: 0 !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: right;
  height: 0;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
